body{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    /* letter-spacing: 1.5cap; */
    line-height: 50%;
}

.HEAD{
    text-align: left;
    font-size: xx-small;

}

.BODY{
    text-align: justify;
    font-size: xx-small;
}

.FOOT{
    text-align: right;
    font-size: xx-small;
}
