body {
    font-family: 'Courier New', Courier, monospace;
    /* Remove initial padding since it's handled dynamically */
    text-align: center;
    /* Smooth padding transitions */
    transition: padding 0.1s ease-in-out;
    /* Increase line-height for better readability */
    line-height: 1.6; 
}

.HEAD {
    /* Better readability with a larger font size */
    text-align: left;
    font-size: medium;
    margin-bottom: 20px;
}

.BODY {
    text-align: justify;
    font-size: small;
    margin-bottom: 20px;
}

.FOOT {
    text-align: right;
    font-size: small;
    margin-top: 20px;
}
